<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <br><br><br><br>
    <center>
        <h2>Welcome {{user.username}}</h2>
        <br>
        <h4>Your Balance is 0 </h4>
        <ul>
            <ol>Deposit 10$, your daily profit 1$</ol>
            <ol>Deposit 50$, your daily profilt 5$</ol>
            <ol>Deposit 100$, your daily profit 10$</ol>

        </ul>
        <h2>For Depsoting </h2>
        <h2>USDT (TRC-20)</h2>
        <h3>TE7icEVq73WgC2KNveBrh7ieyKuEFU6LwM</h3>
        <p>Depsoiting and send your check and your username in <a href="https://t.me/c/2010837021/6">Telegram channel</a></p>
        <p>Telegram Channel<a href="
            https://t.me/+ySnYOICS_L5lNWZi"> link</a></p>
            <br>
            <p>For Withdrawing Contact <a href="https://t.me/c/2010837021/14"> here</a></p>
    </center>
</body>
</html>